@model Planner.Models.Sacrament

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sacrament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SacramentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SacramentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conducting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conducting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hymns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hymns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speakers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
